crt-user-details {
    .container {
        border: solid 1px green;
        display: grid;
        grid-template-columns: 3fr 2fr;

        .avatar {
            grid-row: 1 / 3;
            grid-column: 2;
        }

        .active-button {
            cursor: pointer;
            grid-row: 3 / 5;
            grid-column: 2;
        }
    }
}